body {
    background: #0b84fecb;
    font-family: roboto;
    text-align: center;
}

h1 {
    color: #fff;
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak {
    background: #09d6e1;
    padding: 15px;
    width: 200px;
    float: left;
    margin: 20px;
    height: 200px;
}

.kotak1 {
    border-radius: 10px 15px 20px 20px;
}


.kotak2 {
    border-radius: 40px 20px 60px 90px;
}

.kotak3 {
    border-radius: 2px 140px 20px 60px;
}

.kotak3 {
    border-radius: 360px 10px 0px 5px;
}

.kotak4 {
    border-radius: 0px 450px 5px 0px;
}

.kotak5 {
    border-radius: 0px 600px 0px 600px;
}

.kotak6 {
    border-radius: 100%;
}

.kotak7 {
    border-radius: 50PX 0PX 20% 450PX;
}

.kotak8 {
    border-radius:0PX 20% 450PX 50PX ;
}