body {
    background: #ee00ff;
    font-family: roboto;
    text-align: center;
}

h1 {
    color: #fff;
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak {
    background: rgb(85, 0, 255);
    width: 500px;
    float: left;
    height: 250px;
    margin: 30px;
}

.gradient1 {
    background: linear-gradient(rgb(81, 0, 255),rgb(5, 77, 223), rgb(11, 177, 228));
    /* Standard syntax */
    background: -webkit-linear-gradient(rgb(81, 0, 255),rgb(5, 77, 223), rgb(11, 177, 228));
    /* For Safari 5.1 to 
6.0 */
    background: -o-linear-gradient(rgb(81, 0, 255),rgb(5, 77, 223), rgb(11, 177, 228));
    /* For Opera 11.1 to 12.0 
*/
    background: -moz-linear-gradient(rgb(81, 0, 255),rgb(5, 77, 223), rgb(11, 177, 228));
    /* For Firefox 3.6 to 15 
*/
}

.gradient2 {
    background: linear-gradient(to right, rgb(81, 0, 255), rgb(5, 77, 223), rgb(11, 177, 228));
    /* Standard 
syntax */
    background: -webkit-linear-gradient(left, rgb(81, 0, 255), rgb(5, 77, 223),  rgb(11, 177, 228));
    /* For 
Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(81, 0, 255), rgb(5, 77, 223), rgb(11, 177, 228));
    /* For Opera 
11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(81, 0, 255), rgb(5, 77, 223), rgb(11, 177, 228));
    /* For 
Firefox 3.6 to 15 */
}

.gradient3 {
    background: radial-gradient(rgb(81, 0, 255), rgb(5, 77, 223), rgb(11, 177, 228));
    /* Standard syntax */
    background: -webkit-radial-gradient(rgb(81, 0, 255), rgb(5, 77, 223),rgb(11, 177, 228));
    /* Safari 5.1 
to 6.0 */
    background: -o-radial-gradient(rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* For Opera 11.6 
to 12.0 */
    background: -moz-radial-gradient(rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* For Firefox 
3.6 to 15 */
}

.gradient4 {
    background: radial-gradient(circle, rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* Standard 
syntax */
    background: -webkit-radial-gradient(circle, rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* 
Safari */
    background: -o-radial-gradient(circle, rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* Opera 
11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgb(81, 0, 255),rgb(5, 77, 223),rgb(11, 177, 228));
    /* 
Firefox 3.6 to 15 */
}